@import "compass/reset";
@import "compass";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "partials/mixins";

$font-fixed: "Source Code Pro";
$font-normal: "Pontano Sans";
$font-headings: "Nixie One";

$dark-blue: #141b3e;

.container {
  @include outer-container;
}

// reset
input[type="text"] {
  height: 55px;
  width: 55px;
  @include transition(height 0.1s ease, width 0.1s ease, background-color 0.5s ease);
  @include respondto(phone) {
    height: 30px;
    width: 30px;
  }

  @include respondto(tablet-portrait) {
    height: 40px;
    width: 40px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  text-align: center;
  font-family: $font-fixed;
}

td {
  border: 0;
  padding: 0;
  height: 55px;
  width: 55px;
  @include respondto(phone) {
    height: 30px;
    width: 30px;
  }

  @include respondto(tablet-portrait) {
    height: 40px;
    width: 40px;
  }
}

h1, h2, body {
  color: $dark-blue;
}

p {
  color: desaturate(lighten($dark-blue, 10%), 20%);
}

h1 {
  font-family: $font-headings;
  margin-bottom: 5px;
}

h2 {
  font-family: $font-normal;
  margin-bottom: 20px;
  font-size: 1.4em;
}

body, p {
  font-family: $font-normal;
  font-size: 18px;
}

header {
  padding: 10px;
  text-align: center;
}

#board {
  text-align: center;
  #display {
    margin: 0 auto;
    border: 8px solid $dark-blue;
    height: 527px;
    width: 527px;
    @include transition(height 0.15s ease, width 0.15s ease);
    @include respondto(phone) {
      width: 296px;
      height: 296px;
      border: 5px solid $dark-blue;
    }

    @include respondto(tablet-portrait) {
      height: 388px;
      width: 388px;
      border: 6px solid $dark-blue;
    }

    text-align: center;
  }
}

$sq-dim: 55px;
$sq-dim-sm: 30px;
$sq-dim-md: 40px;

table {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  table-layout: auto;
  tr {
    td {
      background: #f0f6fa;
      background-clip: content-box;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      @include transition(height 0.25s ease, width 0.25s ease);
      &:nth-child(3n+3) {
        border-right: 2px solid $dark-blue;
        width: $sq-dim + 2px;
        height: $sq-dim;
        @include respondto(phone) {
          height: $sq-dim-sm;
          width: $sq-dim-sm + 2px;
        }

        @include respondto(tablet-portrait) {
          height: $sq-dim-md;
          width: $sq-dim-md + 2px;
        }
      }
      &:last-child {
        border-right: none;
        width: $sq-dim;
        height: $sq-dim;
        @include respondto(phone) {
          height: $sq-dim-sm;
          width: $sq-dim-sm;
        }

        @include respondto(tablet-portrait) {
          height: $sq-dim-md;
          width: $sq-dim-md;
        }
      }
    }
    &:nth-child(3n+3) {
      > td {
        border-bottom: 2px solid $dark-blue;
        height: $sq-dim + 2px;
        width: $sq-dim;
        @include respondto(phone) {
          width: $sq-dim-sm;
          height: $sq-dim-sm + 2px;
        }

        @include respondto(tablet-portrait) {
          width: $sq-dim-md;
          height: $sq-dim-md + 2px;
        }
      }
    }
    &:last-child {
      > td {
        border-bottom: none;
        height: $sq-dim;
        width: $sq-dim;
        @include respondto(phone) {
          height: $sq-dim-sm;
          width: $sq-dim-sm;
        }

        @include respondto(tablet-portrait) {
          height: $sq-dim-md;
          width: $sq-dim-md;
        }
      }
    }
  }
}

.button, button {
  -webkit-font-smoothing: antialiased;
  font-family: $font-normal;
  vertical-align: bottom;
  background-color: $dark-blue;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  @include transition(background-color 0.5s ease);
  &:hover {
    background-color: lighten($dark-blue, 10%);
    color: white;
  }
  &:focus, &:active {
    outline: none !important;
  }
}

#submit_button {
  margin-top: 20px;
}