<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta charset="UTF-8">

  <LINK href="sudoku.css" rel="stylesheet" type="text/css">
  <script src="sudoku.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>Sudoku Solver</title>
</head>
<body>
  <%= yield %>
</body>
</html>
