<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta charset="UTF-8">


  <meta property="og:title" content="The Rock" />
  <meta property="og:type" content="video.movie" />
  <meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
  <meta property="og:image" content="http://mathworld.wolfram.com/images/eps-gif/Fractal1_1000.gif" />



  <LINK href="sudoku.css" rel="stylesheet" type="text/css">
  <script src="sudoku.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <title>Sudoku Solver1</title>
</head>
<body>
  <%= yield %>
</body>
</html>
