- if @string
  #solution_string{:style => "visibility:hidden"}= @solution_string
%h2 This Webpage is designed to do one thing: Solve Sudoku puzzles!
%h3 Type in the numbers you know and hit Submit
#board_div
  %table{:border => "1", :style => "width:300px"}
    %tr
      %td#1.table_cell
      %td#2.table_cell
      %td#3.table_cell
      %td#4.table_cell
      %td#5.table_cell
      %td#6.table_cell
      %td#7.table_cell
      %td#8.table_cell
      %td#9.table_cell
    %tr
      %td#10.table_cell
      %td#11.table_cell
      %td#12.table_cell
      %td#13.table_cell
      %td#14.table_cell
      %td#15.table_cell
      %td#16.table_cell
      %td#17.table_cell
      %td#18.table_cell
    %tr
      %td#19.table_cell
      %td#20.table_cell
      %td#21.table_cell
      %td#22.table_cell
      %td#23.table_cell
      %td#24.table_cell
      %td#25.table_cell
      %td#26.table_cell
      %td#27.table_cell
    %tr
      %td#28.table_cell
      %td#29.table_cell
      %td#30.table_cell
      %td#31.table_cell
      %td#32.table_cell
      %td#33.table_cell
      %td#34.table_cell
      %td#35.table_cell
      %td#36.table_cell
    %tr
      %td#37.table_cell
      %td#38.table_cell
      %td#39.table_cell
      %td#40.table_cell
      %td#41.table_cell
      %td#42.table_cell
      %td#43.table_cell
      %td#44.table_cell
      %td#45.table_cell
    %tr
      %td#46.table_cell
      %td#47.table_cell
      %td#48.table_cell
      %td#49.table_cell
      %td#50.table_cell
      %td#51.table_cell
      %td#52.table_cell
      %td#53.table_cell
      %td#54.table_cell
    %tr
      %td#55.table_cell
      %td#56.table_cell
      %td#57.table_cell
      %td#58.table_cell
      %td#59.table_cell
      %td#60.table_cell
      %td#61.table_cell
      %td#62.table_cell
      %td#63.table_cell
    %tr
      %td#64.table_cell
      %td#65.table_cell
      %td#66.table_cell
      %td#67.table_cell
      %td#68.table_cell
      %td#69.table_cell
      %td#70.table_cell
      %td#71.table_cell
      %td#72.table_cell
    %tr
      %td#73.table_cell
      %td#74.table_cell
      %td#75.table_cell
      %td#76.table_cell
      %td#77.table_cell
      %td#78.table_cell
      %td#79.table_cell
      %td#80.table_cell
      %td#81.table_cell
#submit_button
  %button{:onclick => "go();", :type => "button"} Submit!