<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="UTF-8">
<LINK href="sudoku.css" rel="stylesheet" type="text/css">
<script src="sudoku.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<title>Zac's Sudoku Solver</title>

<style>
	body{
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding: 0px 2px 2px px;
		background-color: #FFF;
		font-size: 1.3em
	}

	ol li{
		list-style: none;
		display: inline;
		white-space: nowrap;
		margin-right: 10px;
	}

	.table_cell input{
	/*	padding: 50px;
	*/	font-size: 40px;
	}



	/*big screens override above css*/
	@media only screen and (min-width: 40em) {

	}
</style>



<script>
	var board = "g";

	window.onload= function(){
		$(".table_cell").each(function(){
			console.log(this);
			input_field = document.createElement("input");
			input_field.setAttribute("type","text");
			input_field.setAttribute("maxlength","1");
			input_field.setAttribute("size","1");
			input_field.onfocus = function(){this.select();}
			input_field.onkeyup = board_changed;
			this.appendChild(input_field);

		});
		if (document.getElementById("solution_string")){
			fill_board_with_solution();
		}

	}

	function x(){
		for(i=0; i <= 1000000000 ; i++){
			z = 1+1;
		}
		//console.log("hello");
	}

	function y(){
		//console.log("hello2");

	}

	function board_changed(){
		//console.log("board changed");
		board = map_board_from_UI();
		board.run_solver();
		board.print_result();
		//console.log(this.parentNode.id);
		var next_cell = parseInt(this.parentNode.id) + 1;
		if(next_cell <= 81 ){
			//console.log(next_cell);
			document.getElementById(next_cell).childNodes[0].select();
		}
	}

	function map_board_from_UI(){
		//console.log("map_board_from_UI");
		return new Board();
	}


	function Board(){
		this.run_solver = function(){
			//console.log("run_solver");
		}
		this.print_result = function(){
			//console.log("print_result");
		}

		this.tri_square_arr = [];
		for(tri_square=0;tri_square<=2;tri_square++){
			var square_arr = [];
			for(square=0;square<=2;square++){
				var tri_cell_arr = [];
				for(tri_cell=0;tri_cell<=2;tri_cell++){
					var cell_arr = [];
					for(cell=0;cell<=2;cell++){
						id = tri_square*27 + square*3 + tri_cell*9 +cell + 1;
						cell_arr.push(document.getElementById(id).childNodes[0].value);
					}
					tri_cell_arr.push(cell_arr);
				}
				square_arr.push(tri_cell_arr);
			}
			this.tri_square_arr.push(square_arr);
		}
	}


	// function go(){
	// 	alert("not here");

	// 	$.ajax({
	// 		url: '/solve',
	// 		method: 'get',
	// 		data: {string: "hellloooo wooorllldd"},
	// 		dataType: 'html',
	// 		success: mySuccessFunction
	// 	});
	// }

	function go(){
		var url = "/"
		//var string = "105802000090076405200400819019007306762083090000061050007600030430020501600308900";
		var string = make_string();
		window.location.href = url + string;
	}

	function make_string(){
		user_string = ""
		for(i=1 ; i <= 81 ; i++){
			cell_value = document.getElementById(i).childNodes[0].value
			if(cell_value == "")
				cell_value = "0";
			user_string += cell_value;
		}
		console.log(user_string);
		return user_string;
	}


	function fill_board_with_solution(){
		for(i=1 ; i <= 81 ; i++){
			cell = document.getElementById(i).childNodes[0]
			cell.value = document.getElementById("solution_string").innerHTML.charAt(i-1);
			console.log(document.getElementById("solution_string").innerHTML.charAt(i-1));
		}		
	}


</script>


</head>
<body>
	<% if @string %>
		<div id="solution_string" style="visibility:hidden"><%=@solution_string%></div>
		
	<%end%>

	<h2>This Webpage is designed to do one thing: Solve Sudoku puzzles!</h2>
	<h3>Type in the numbers you know and hit Submit </h3>
	
	<div id="board_div">
		<table border="1" style="width:300px">
			<tr>
				<td id="1" class="table_cell" ></td>
				<td id="2" class="table_cell" ></td> 
				<td id="3" class="table_cell" ></td>
				<td id="4" class="table_cell" ></td>
				<td id="5" class="table_cell" ></td> 
				<td id="6" class="table_cell" ></td>
				<td id="7" class="table_cell" ></td>
				<td id="8" class="table_cell" ></td> 
				<td id="9" class="table_cell" ></td>
			</tr>
			<tr>
				<td id="10" class="table_cell" ></td>
				<td id="11" class="table_cell" ></td> 
				<td id="12" class="table_cell" ></td>
				<td id="13" class="table_cell" ></td>
				<td id="14" class="table_cell" ></td> 
				<td id="15" class="table_cell" ></td>
				<td id="16" class="table_cell" ></td>
				<td id="17" class="table_cell" ></td> 
				<td id="18" class="table_cell" ></td>
			</tr>
			<tr>
				<td id="19" class="table_cell" ></td>
				<td id="20" class="table_cell" ></td> 
				<td id="21" class="table_cell" ></td>
				<td id="22" class="table_cell" ></td>
				<td id="23" class="table_cell" ></td> 
				<td id="24" class="table_cell" ></td>
				<td id="25" class="table_cell" ></td>
				<td id="26" class="table_cell" ></td> 
				<td id="27" class="table_cell" ></td>
			</tr>				
			<tr>
				<td id="28" class="table_cell" ></td>
				<td id="29" class="table_cell" ></td> 
				<td id="30" class="table_cell" ></td>
				<td id="31" class="table_cell" ></td>
				<td id="32" class="table_cell" ></td> 
				<td id="33" class="table_cell" ></td>
				<td id="34" class="table_cell" ></td>
				<td id="35" class="table_cell" ></td> 
				<td id="36" class="table_cell" ></td>
			</tr>
			<tr>
				<td id="37" class="table_cell" ></td>
				<td id="38" class="table_cell" ></td> 
				<td id="39" class="table_cell" ></td>
				<td id="40" class="table_cell" ></td>
				<td id="41" class="table_cell" ></td> 
				<td id="42" class="table_cell" ></td>
				<td id="43" class="table_cell" ></td>
				<td id="44" class="table_cell" ></td> 
				<td id="45" class="table_cell" ></td>
			</tr>
			<tr>
				<td id="46" class="table_cell" ></td>
				<td id="47" class="table_cell" ></td> 
				<td id="48" class="table_cell" ></td>
				<td id="49" class="table_cell" ></td>
				<td id="50" class="table_cell" ></td> 
				<td id="51" class="table_cell" ></td>
				<td id="52" class="table_cell" ></td>
				<td id="53" class="table_cell" ></td> 
				<td id="54" class="table_cell" ></td>
			</tr>
			<tr>
				<td id="55" class="table_cell" ></td>
				<td id="56" class="table_cell" ></td> 
				<td id="57" class="table_cell" ></td>
				<td id="58" class="table_cell" ></td>
				<td id="59" class="table_cell" ></td> 
				<td id="60" class="table_cell" ></td>
				<td id="61" class="table_cell" ></td>
				<td id="62" class="table_cell" ></td> 
				<td id="63" class="table_cell" ></td>
			</tr>
			<tr>
				<td id="64" class="table_cell" ></td>
				<td id="65" class="table_cell" ></td> 
				<td id="66" class="table_cell" ></td>
				<td id="67" class="table_cell" ></td>
				<td id="68" class="table_cell" ></td> 
				<td id="69" class="table_cell" ></td>
				<td id="70" class="table_cell" ></td>
				<td id="71" class="table_cell" ></td> 
				<td id="72" class="table_cell" ></td>
			</tr>
			<tr>
				<td id="73" class="table_cell" ></td>
				<td id="74" class="table_cell" ></td> 
				<td id="75" class="table_cell" ></td>
				<td id="76" class="table_cell" ></td>
				<td id="77" class="table_cell" ></td> 
				<td id="78" class="table_cell" ></td>
				<td id="79" class="table_cell" ></td>
				<td id="80" class="table_cell" ></td> 
				<td id="81" class="table_cell" ></td>
			</tr>
		</table>
	</div>
	<div id="submit_button">
		<button type="button"  onclick="go();">Submit!</button>
	</div>


	<!-- <input id="cell1" type="text" >
	<input id="cell2" type="text" > -->


</body>
</html>	 
	
