- if @string
  #solution_string{:style => "display:none"}= @solution_string
%header
  %h1#neon-heading
    <span class="pulse second">S</span><span class="pulse2">u</span><span>d</span><span>o</span><span>k</span><span>u</span> <span>S</span><span>o</span><span>l</span><span class="flicker">v</span><span>e</span><span>r</span>
%main
  %section
    #board
      #display
        %table
          - (1..81).each_slice(9) do |row|
            %tr
              - row.each do |i|
                %td.table_cell{:id => "#{i}"}
                  %input{:type => "text", :maxlength => "1", :size => "1"}
      #cover
    #submit_button
      %button{:onclick => "go();", :type => "button", :class=>"neon-blue"} Submit!
      %a{:href => "/", :class => "button neon-blue"} Clear