- if @string
  #solution_string{:style => "visibility:hidden"}= @solution_string
%h2 This Webpage is designed to do one thing: Solve Sudoku puzzles!
%h3 Type in the numbers you know and hit Submit
#board_div
  %table{:border => "1", :style => "width:300px"}
    - (1..81).each_slice(9) do |row|
      %tr
        - row.each do |i|
          %td.table_cell{:id => "#{i}"}
            %input{:type => "text", :maxlength => "1", :size => "1"}
#submit_button
  %button{:onclick => "go();", :type => "button"} Submit!