- if @string
  #solution_string{:style => "display:none"}= @solution_string
%header
  #neon-heading Sudoku Solver
  %h2 This site does one thing: 
  %h3.neon2 Solve Sudoku puzzles!
  %p Type in the numbers you know and hit Submit
%main
  %section
    #board
      #display
        %table
          - (1..81).each_slice(9) do |row|
            %tr
              - row.each do |i|
                %td.table_cell{:id => "#{i}"}
                  %input{:type => "text", :maxlength => "1", :size => "1"}
      #cover
      #submit_button
        %button{:onclick => "go();", :type => "button"} Submit!
        %a{:href => "/", :class => "button"} Clear