@font-face {
  font-family: 'Las Enter Personal Use Only';
  src: url("fonts/LasEnter_PersonalUseOnly.eot");
  /* IE9 Compat Modes */
  src: url("fonts/LasEnter_PersonalUseOnly.eot?#iefix") format("embedded-opentype"), url("fonts/LasEnter_PersonalUseOnly.woff") format("woff"), url("fonts/LasEnter_PersonalUseOnly.ttf") format("truetype"), url("fonts/LasEnter_PersonalUseOnly.svg#a334047e1fb78505ab673ba31755f05d") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}