@mixin respond-to($media) {
  @if $media == phone {
    @media (max-width: 480px) {
      @content;
    }
  }
  @else if $media == tablet-portrait {
    @media (min-width: 481px) and (max-width: 768px) {
      @content;
    }
  }
  @else if $media == tablet-landscape {
    @media (min-width: 769px) and (max-width: 1024px) {
      @content;
    }
  }
  @else if $media == desktop {
    @media (min-width: 1025px) and (max-width: 1440px) {
      @content;
    }
  }
  @else if $media == large-desktop {
    @media (min-width: 1441px) {
      @content;
    }
  }
  @else {
    @media screen and (max-width: #{$media}px) {
      @content;
    }
  }
}

@mixin respondto($media...) {
  @each $mediatype in $media {
    @include respond-to($mediatype) {
      @content;
    }
  }
}

$glow-1: 0 0 2px;
$glow-2: 0 0 3px;
$glow-3: 0 0 12px;
$glow-4: 0 0 38px;
$glow-5: 0 0 18px;
$shadow: 4px 3px 2px;

@mixin neon-text-shadow($color: $blue) {
  @include text-shadow($glow-2 $blue-glow, $glow-3 $blue-wrap-shadow, $glow-5 $blue-glow, $shadow $blue-shadow);
}

@mixin neon-box-shadow($color: $blue) {
  @include box-shadow($glow-1 $color, $glow-2 $color, $glow-3 $color, $glow-4 $color, inset $glow-1 $color, inset $glow-2 $color, inset $glow-3 $color, inset $glow-4 $color);
}

@mixin neon-box-shadow-smaller($color: $blue) {
  @include box-shadow($glow-1 $color, $glow-2 $color, $glow-3 $color, $glow-4 $color, inset $glow-2 $color, inset $glow-3 $color, inset $glow-4 $color);
}

@mixin green-glow {
  @include box-shadow(0 0 10px $green, 0 0 30px $green-glow2, 0 0 80px $green-light2, 5px 9px 5px $black_50, inset $glow-4 #192b16);
}

@mixin neon-box-shadow2($color: $blue) {
  @include box-shadow(0 0 50px $color, 0 0 5px $color, 0 0 2px $color, 0 0 1px $color);
}

@mixin pinkglow-on {
  color: #EEDDE0;
  @include text-shadow(0 0 30px #EC637B, 0 0 10px $color_wewak_41_approx, 0 0 100px #E6A1AD, 0 0 500px #F36780, 5px 9px 5px $black_50);
}

@mixin pinkglow-off {
  color: $color_mine_shaft_61_approx;
  @include text-shadow(4px 7px 3px $black_50);
}