$blue: #14a5ff;
$blue-glow: #22cef9;
$blue-glow2: #89edff;
$blue-wrap-shadow: #3c6fa3;
$blue-shadow: #2d2f30;
$red: #f90000;
$red-glow: #ff1919;
$bkg: #222;
$green-glow: #b3ff51;
$green: #0cd808;

$glow-1: 0 0 2px;
$glow-2: 0 0 3px;
$glow-3: 0 0 12px;
$glow-4: 0 0 68px;
$glow-5: 0 0 18px;
$shadow: 4px 8px 2px;

@mixin neon-text-shadow($color: $blue) {
  text-shadow: $glow-1 $blue, $glow-2 $blue-glow, $glow-3 $blue-wrap-shadow, $glow-4 $blue-glow, $glow-5 $blue-glow2, $shadow $blue-shadow;
}

@mixin neon-box-shadow($color: $blue) {
  box-shadow: $glow-1 $color, $glow-2 $color, $glow-3 $color, $glow-4 $color, inset $glow-1 $color, inset $glow-2 $color, inset $glow-3 $color, inset $glow-4 $color;
}

@mixin neon-box-shadow2($color: $blue) {
  box-shadow: 0 0 10px $color, 0 0 5px $color, 0 0 2px $color, 0 0 1px $color;
}

$black_4: rgba(0, 0, 0, 0.04);
$black_73: rgba(0, 0, 0, 0.73);
$color_bizarre_approx: #eedde0;
$color_brink_pink_approx: #ec637b;
$color_wewak_approx: #e6a1ad;
$color_wewak_41_approx: rgba(230, 161, 173, 0.41);
$black_50: rgba(0, 0, 0, 0.5);
$color_mine_shaft_61_approx: rgba(46, 46, 46, 0.61);

//fonts
$font_0: "Nixie One";

body {
  background-color: #3f3f3f;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSczMDAnIGhlaWdodD0nMzAwJyB2aWV3Qm94PScwIDAgMTUwIDE1MCc+Cgk8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCQk8ZmVUdXJidWxlbmNlIHR5cGU9J3R1cmJ1bGVuY2UnIGJhc2VGcmVxdWVuY3k9Jy43JyByZXN1bHQ9J2Z1enonIG51bU9jdGF2ZXM9JzInIHN0aXRjaFRpbGVzPSdzdGl0Y2gnLz4KCQk8ZmVDb21wb3NpdGUgaW49J1NvdXJjZUdyYXBoaWMnIGluMj0nZnV6eicgb3BlcmF0b3I9J2FyaXRobWV0aWMnIGsxPScwJyBrMj0nMS4xNicgazM9Jy0wLjAyJyBrND0nLjAxJyAvPgoJPC9maWx0ZXI+Cgk8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDAwMDAwJy8+Cgk8cmVjdCB4PSctMSUnIHk9Jy0xJScgd2lkdGg9JzEwMiUnIGhlaWdodD0nMTAyJScgZmlsbD0nIzE0MTMxMycgZmlsdGVyPSd1cmwoI24pJyBvcGFjaXR5PScxJy8+Cjwvc3ZnPg==");
}

i {
  font: normal 170px / 85px $font_0;
  @include respondto(tablet-portrait) {
    font: normal 130px / 55px $font_0;
  }

  @include respondto(phone) {
    font: normal 90px / 45px $font_0;
  }

  color: #EEDDE0;
  @include text-shadow(0 0 30px #EC637B, 0 0 10px $color_wewak_41_approx, 0 0 100px #E6A1AD, 0 0 500px #F36780, 5px 9px 5px $black_50);
  &.off {
    color: $color_mine_shaft_61_approx;
    @include text-shadow(7px 7px 5px $black_50);
  }
}

#board {
  text-align: center;
  z-index: 0;
  #display, #cover {
    margin: 0 auto;
    height: 520px;
    width: 527px;
    background-color: transparent;
    border-radius: 10px;
    @include respondto(phone) {
      width: 296px;
      height: 296px;
    }

    @include respondto(tablet-portrait) {
      height: 388px;
      width: 388px;
    }

    text-align: center;
  }
  #cover {
    position: relative;
    bottom: 522px;
    border: 6px solid $green;
    border-radius: 10px;
    pointer-events: none;
    @include neon-box-shadow($green-glow);
    @include respondto(phone) {
      border: 4px solid $green;
      bottom: 296px;
    }

    @include respondto(tablet-portrait) {
      border: 5px solid $green;
      bottom: 388px;
    }
  }
}

h2, p, h3 {
  color: black;
  text-shadow: 0px 2px 3px #303030;
}