// Take a list of classes and generate a selector list
@function join-classes($classes, $inherit: true) {
  $selectors: ();

  @each $class in $classes {
    @if str-index($class, ".") != 0 {
      $class: "." + $class;
    }

    @if $inherit {
      $selectors: $selectors, unquote("&" + $class);
    } @else {
      $selectors: $selectors, unquote($class);
    }
  }

  @return $selectors;
}

// Remove the first selector character (#, ., etc) from the class name or ID
@function remove-selector-char($selector) {
  @return str-slice($selector, 2, str-length($selector));
}

// Generate a class name and apply an optional prefix
@function class-name($class, $prefix: $vendor-prefix, $selector: ".") {
  $name: $class;

  @if str_slice($class, 1, 1) == $selector {
    $name: remove-selector-char($name);
  }

  @if $prefix != "" {
    $name: $prefix + $name;
  }

  @return $selector + $name;
}


//returns a list of text shadow  colors
@function get-neon-glow-colors($color, $size) {
  $result: ();
  $variants: ();
  $variants-small: glow, wrap-shadow, glow, shadow;
  $variants-large: bright, light-alpha, pastel-bright, darkest-alpha;
  @if $size == small {
    $variants: $variants-small;
  }
  @else if $size == large {
    $variants: $variants-large;
  }
  @each $variant in $variants {
    $result: append($result, map-get($colors, unquote($color + "-" + $variant)));
  }
  @return $result;
}